@{
    ViewData["Title"] = "Error Page";
}
<div style="width: 100%; height: 40px; background-color: black" class="text-center mt-3 mb-3">
    <img src="~/images/willow-logo.svg" style="height: 100%" />
</div>
<div class="text-center">
    <h1 class="display-4">Willow + Desigo CC - Error</h1>
</div>

<h1>No Site ID</h1>

<p>Oops, Site ID should be involved.</p>
