<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="Rewrite AlwaysOn" stopProcessing="true">
                    <match url="^$" />
                    <conditions>
                        <add input="{HTTP_USER_AGENT}" pattern="^AlwaysOn$" />
                    </conditions>
                    <action type="Rewrite" url="/healthcheck" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
